@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "dashboard";
@import "header";
@import "footer";

@import "landing";
@import "flexboxes";
@import "dropdown";
@import "tabs";
@import "search_tools.scss";
@import "expander.scss";

body {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container();
  padding: $base-spacing 0;
}


/* LOGIN PAGE */

body.login {
  height: 100vh;
  @include background(url($banner-image), linear-gradient(15deg, $blue, $tan), no-repeat $blue scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(wrap);

  .login-panel {
    @include display(flex);
    @include flex-wrap(wrap);
    box-shadow: inset 0 0 1px $base-border-color, 0 2px 4px darken($base-background-color, 10%);
    background: transparentize(white, 0.1);
    border: 1px solid white;
    border-radius: $base-border-radius*4;
    padding: $base-spacing*1.5 $base-spacing*2;

    max-width: 60%;

    h1 {
      width: 100%;
      font-size: 1.5em;
      margin-bottom: 1.5em;
      text-align: center;
      margin-top: 0;
    }

    .login-body {
       flex: 5;

       .secondary-action {
          margin-top: $base-spacing;
          li {
            display: inline-block;
          }
       }
    }

    .login-logo {
      flex: 3;
      border-right: 1px solid $base-border-color;
      margin-right: $base-spacing;

      h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
    }

  }
}

/****** ANALYSIS PAGE *****/

.chart-controls {
  @include span-columns(3.5);
    

  > div.control-menu {
    //padding: $base-spacing;
    //border: $base-border;
    margin-bottom: $base-spacing;
  }
}

.measures-menu {
  
}

.chart-nav {
  background: $light-gray;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: $base-spacing/2 $base-spacing;
  margin-bottom: $base-spacing;

  .filter {
    @include span-columns(1.5);

    &.measures {
     @include span-columns(4);
    }

    h3 {
     margin-top: 0;
    }
  }
  
  .trigger {
    @include span-columns(1.5);
  }
}

.chart-summary {
  @include span-columns(3.5);
}

.charts {
  @include span-columns(8.5);
}

.filter-menu {
  .filter, .trigger {
    @include span-columns(2 of 8);
  }
}


.chart-group {
  padding: $base-spacing;
  background: lighten($light-gray, 10%);
  border-radius: $base-border-radius;
}

